/* @theme codersonly */

@import 'default';

@font-face {
  font-family: 'siruca';
  src: url('siruca1.2-webfont.eot');
  src: url('siruca1.2-webfont.eot?#iefix') format('embedded-opentype'),
       url('siruca1.2-webfont.woff2') format('woff2'),
       url('siruca1.2-webfont.woff') format('woff'),
       url('siruca1.2-webfont.ttf') format('truetype'),
       url('siruca1.2-webfont.svg#sirucaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --h1-color: #9d0;
  --color-fg-default: #9d0;
  background: #000;
  font-family: 'siruca';
  text-shadow: 0 0 12px #9d0;
}

table,
table thead,
table tr,
table th,
table tbody,
table td
{
  border-color: var(--color-fg-default);
  background: #000;
}

section.centered p {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

section.centered img {
  background: transparent;
  max-width: 100%;
  height: 50%;
  display: inline-block;
}

section.sponsors p {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

section.sponsors img {
  background: #fff;
  height: auto;
  width: 30%;
  display: inline-block;
};
