/* @theme codersonly */

@import 'default';

@font-face {
  font-family: 'pragmata-mono';
  src: url('PragmataPro_Mono_R_liga_0830.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pragmata';
  src: url('PragmataProR_liga_0830.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'siruca';
  src: url('siruca1.2-webfont.eot');
  src: url('siruca1.2-webfont.eot?#iefix') format('embedded-opentype'),
       url('siruca1.2-webfont.woff2') format('woff2'),
       url('siruca1.2-webfont.woff') format('woff'),
       url('siruca1.2-webfont.ttf') format('truetype'),
       url('siruca1.2-webfont.svg#sirucaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-main: #2CFF05;
  --color-alien-hue-1: #45CC2D;
  --color-alien-hue-2: #45663F;
  --color-alien-hue-3: #2B332A;
  --color-80s-disco-1: #D405FF;
  --color-80s-disco-2: #FF0522;
  --color-80s-disco-3: #871B3F;
  --color-square-1: #05A9FF;
  --color-square-2: #D805FF;
  --color-square-3: #FF5B05;
  --color-split-1: #5B05FF;
  --color-split-2: #FF05A9;
  --color-monochromatic-1: #20D000;
  --color-monochromatic-2: #58FF39;

  --color-canvas-default: #000;
  --color-canvas-subtle: var(--color-background-default);
  --color-accent-fg: #05A9FF;
  --color-fg-default: #2CFF05;
  --color-border-default: var(--color-alien-hue-1);
  --h1-color: var(--color-fg-default);

  --color-prettylights-syntax-comment: var(--color-80s-disco-1);
  --color-prettylights-syntax-constant: var(--color-square-1);
  --color-prettylights-syntax-key: var(--color-square-2);
  --color-prettylights-syntax-string: #D805FF;
  --color-prettylights-syntax-variable: #FF5B05;
  background: #000;
  font-family: 'pragmata';
  text-shadow: 0 0 12px var(--color-alien-hue-1);
}

section {
  color: var(--color-alien-hue-1);
}

h1, h2, h3 {
  font-family: 'siruca';
}

h1 {
  color: var(--color-fg-default);
  text-shadow: 0 0 12px var(--color-fg-default);
}

h2, h3 {
  color: var(--color-80s-disco-1);
  text-shadow: 0 0 12px var(--color-80s-disco-1);
}

a {
  text-shadow: 0 0 12px var(--color-accent-fg);
}

section :is(pre, marp-pre) {
  border-radius: 0;
}

code {
  font-family: 'pragmata-mono';
  background-color: var(--color-canvas-default);
  color: var(--color-aluen-hue-1);
  text-shadow: 0 0 12px var(--color-alien-hue-1);
  border: 1px solid var(--color-alien-hue-1);
  border-radius: 0;
}

code .hljs-attr {
  text-shadow: 0 0 3px var(--color-prettylights-syntax-constant);
}
code .hljs-comment {
  text-shadow: 0 0 3px var(--color-prettylights-syntax-comment);
}
code .hljs-keyword {
  text-shadow: 0 0 3px var(--color-prettylights-syntax-keyword);
}
code .hljs-string {
  text-shadow: 0 0 3px var(--color-prettylights-syntax-string);
}
code .hljs-built_in {
  text-shadow: 0 0 3px var(--color-prettylights-syntax-variable);
}

section.centered p {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

section.centered img {
  background: transparent;
  max-width: 100%;
  height: 50%;
  display: inline-block;
}

section.sponsors p {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

section.sponsors img {
  background: #fff;
  height: auto;
  width: 30%;
  display: inline-block;
};
